html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.editor {
  width: 90%;
  margin: 2em auto;
  height: 20em;
}

.editor::-webkit-scrollbar {
    -webkit-appearance: none;
}

.editor::-webkit-scrollbar:vertical {
    width: 1em;
}

.editor::-webkit-scrollbar:horizontal {
    height: 1em;
}

.editor::-webkit-scrollbar-thumb {
    border: 0.2em solid #ddd;
    background-color: rgba(0, 0, 0, .5);
}

.editor::-webkit-scrollbar-track {
    background-color: #ddd;
}

.editor::-webkit-scrollbar-corner {
    background-color: #ddd;
}
